<div>

    <mat-toolbar color="primary" class="header">
        <button mat-icon-button>
      <mat-icon>schedule</mat-icon>
    </button>
        <span>My Clock</span>
        <span class="spacer"></span>
        <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
    </mat-toolbar>

    <div fxLayout="column">
        <div fxLayout="column" fxLayoutAlign="start">
            <h3>Select Your Time Zone:</h3>
            <mat-form-field appearance="fill" style="width: 275px;">
                <mat-label>Time Zone</mat-label>
                <mat-select [(ngModel)]="selectedTimeZone" (change)="getTimeZone($event.target.value)">
                    <mat-option *ngFor="let timeZone of timeZones" [value]="timeZone.lookupDescription">
                        {{timeZone.lookupDescription+" "+"("+timeZone.lookupCode+")"}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="clock-container" fxLayout="row" fxLayoutAlign="center">
            <mat-card> {{localTime}}</mat-card>
        </div>
    </div>

    <mat-toolbar color="primary" class="footer">
        <span class="spacer"></span>
        <button mat-icon-button>
      <mat-icon>copyright</mat-icon>
    </button>
        <span>Saurabh Gandhi</span>
    </mat-toolbar>

</div>